.markdown-content
  h1, h2, h3, h4, h5, h6
    font-weight: bold
    margin: 5px 0 10px
  h1
    font-size: 28px
  h2
    font-size: 24px
  h3
    font-size: 20px
  h4
    font-size: 18px

  ol, ul
    padding-left: 2em
    list-style: disc

  strong
    font-weight: bold

  p
    margin-bottom: 10px

  pre
    margin-bottom: 10px
    font-size: 14px

  blockquote, q
    quotes: none

  blockquote:before, blockquote:after,
  q:before, q:after
    content: ''

  table
    border-collapse: collapse
    border-spacing: 0



/* Tomorrow Comment */
.hljs-comment,
.hljs-quote
  color: #8e908c

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion
  color: #c82829

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link
  color: #f5871f

/* Tomorrow Yellow */
.hljs-attribute
  color: #eab700

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition
  color: #718c00

/* Tomorrow Blue */
.hljs-title,
.hljs-section
  color: #4271ae

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag
  color: #8959a8

.hljs
  display: block
  overflow-x: auto
  background: #f6f6f6
  color: #4d4d4c
  padding: 1em
  border-radius: 3px

.hljs-emphasis
  font-style: italic

.hljs-strong
  font-weight: bold
