.markdown-content
  h1, h2, h3, h4, h5, h6
    font-weight: bold
    margin: 5px 0 10px
  h1
    font-size: 26px
  h2
    font-size: 24px
  h3
    font-size: 22px
  h4
    font-size: 20px


  ol, ul
    padding-left: 2em
    list-style: disc

  strong
    font-weight: bold

  em
    font-style: italic

  p
    margin-bottom: 10px

  a
    color: #4caf50
  a:hover
    color: #81c784
    text-decoration: underline

  pre
    margin-bottom: 10px
    font-size: 14px

  blockquote
    margin: 0 0 20px;
    padding: 20px;
    margin-bottom: 25px;
    background-color: #f7f7f7;
    border-left: 6px solid #b4b4b4;
    word-break: break-word!important;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  blockquote p
    margin: 0

  table
    width: 100%
    margin-bottom: 20px
    border: 1px solid #ddd
    border-collapse: collapse
    border-left: none
    word-break: normal
  table th
    text-align: inherit
    font-weight: 700
  table th, table td
    padding: 8px
    border: 1px solid #ddd
    line-height: 20px
    vertical-align: middle
  table tr:nth-of-type(even)
    background-color: rgba(0,0%,71%,.1)

  p code
    padding: 8px 15px
    background-color: #f6f6f6

  p img
    margin: 15px 0
    max-width: 100%
    border-radius: 5px

/* Tomorrow Comment */
.hljs-comment,
.hljs-quote
  color: #8e908c

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion
  color: #c82829

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link
  color: #f5871f

/* Tomorrow Yellow */
.hljs-attribute
  color: #eab700

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition
  color: #718c00

/* Tomorrow Blue */
.hljs-title,
.hljs-section
  color: #4271ae

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag
  color: #8959a8

.hljs
  display: block
  overflow-x: auto
  background: #f6f6f6
  color: #4d4d4c
  padding: 1em
  border-radius: 3px

.hljs-emphasis
  font-style: italic

.hljs-strong
  font-weight: bold
